server:
  port: 8083

spring:
  application:
    name: mock-payment
  datasource:
    url: jdbc:postgresql://localhost:3001/mock_payment_db
    driver-class-name: org.postgresql.Driver
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
      auto-offset-reset: earliest
    listener:
      ack-mode: MANUAL_IMMEDIATE
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false
  jackson:
    default-property-inclusion: non_null

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

payment:
  expiry-seconds: 600

logging:
  level:
    org:
      springframework:
        jdbc:
          core: DEBUG
    com.project: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/mock_payment_db
    username: admin
    password: password
  kafka:
    bootstrap-servers: redpanda:19092

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/