server:
  port: 8081

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      ack-mode: MANUAL_IMMEDIATE
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

  #  security:
  #    oauth2:
  #      resourceserver:
  #        jwt:
  #          issuer-uri: http://localhost:8080/realms/ecommerce

  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:1000/order-service?timezone=Asia/Ho_Chi_Minh
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3
        minimumNumberOfCalls: 5
    instances:
      paymentService:
        baseConfig: default
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 30000    # 30s wait when open
        permittedNumberOfCallsInHalfOpenState: 2

logging:
  level:
    org:
      springframework:
        jdbc:
          core: DEBUG
    io.github.resilience4j: DEBUG
    com.project: DEBUG