spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8080/realms/ecommerce

  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:1000/order-service
    username: admin
    password: admin123
logging:
  level:
    org:
      springframework:
        jdbc:
          core: DEBUG
