server:
  port: 8081

spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

  #  security:
  #    oauth2:
  #      resourceserver:
  #        jwt:
  #          issuer-uri: http://localhost:8080/realms/ecommerce

  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:1000/order-service
    username: admin
    password: admin123
logging:
  level:
    org:
      springframework:
        jdbc:
          core: DEBUG
    com.project: DEBUG

