server:
  port: 8080

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://admin:secret123@localhost:27017/mydatabase
      username: admin
      password: secret123
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka