server:
  port: 8761

spring:
  application:
    name: eureka-server
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ecommerce

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    eviction-interval-timer-in-ms: 60000

management:
  endpoints:
    web:
      exposure:
        include: "*"